@import "@/styles/colors.scss";
@import "@/styles/functions.scss";

.banner {
  height: 27.5rem;
  background: url("../../assets/image/banner.jpg") no-repeat center;
  @include responsive("mobile") {
    height: 15.625rem;
  }
}

.looseFurniture {
  padding: 6.25rem 0;
  @include responsive("mobile") {
    padding: 3.125rem 0;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 900;
    color: $green;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3.125rem;
    @include responsive("mobile") {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .contentFurnitureItem {
    display: flex;
    justify-content: flex-end;
  }
  .itemFurniture {
    max-width: 9.75rem;
    .iconContent {
      width: 9.75rem;
      height: 10.0625rem;
      background: $lightGray;
      border-radius: 0.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .itemLabel {
      font-size: 1.125rem;
      color: $green;
      text-align: center;
      margin-top: 1.875rem;
    }
  }
}

#MonthOfferHome {
  background-color: $lightGray;
  padding: 6.25rem 0;
  @include responsive("mobile") {
    padding: 3.125rem 0;
  }
  .contentTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125rem;
    @include responsive("mobile") {
      display: none;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 900;
      color: $black;
      margin-bottom: 0.625rem;
      text-transform: uppercase;
    }
    .subtitle {
      font-size: 1rem;
      color: $black;
    }
    .button {
      width: 17.625rem;
    }
  }
  .contentOffer,
  .contentOfferMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contentOffer {
    @include responsive("mobile") {
      display: none;
    }
  }
  .contentOfferMobile {
    display: none;
    @include responsive("mobile") {
      display: block;
    }
  }

  .MoreProductsMobile {
    display: none;
    @include responsive("mobile") {
      display: block;
      margin-top: 3.125rem;
      text-align: center;
    }
  }
}

.lineFurniture {
  padding: 6.25rem 0;
  @include responsive("mobile") {
    padding: 3.125rem 0;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 900;
    color: $green;
    text-align: center;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
    @include responsive("mobile") {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
  .contentImages {
    display: flex;
    flex-direction: row;
    @include responsive("mobile") {
      flex-direction: column;
    }
    .one {
      width: 27.8125rem;
      background-size: cover !important;
      @include responsive("mobile") {
        width: 100%;
        height: 15.625rem;
        margin-bottom: 1.875rem;
      }
    }
    .block {
      margin-left: 1.875rem;
      @include responsive("mobile") {
        margin-left: 0;
      }
      .two {
        height: 15.625rem;
        width: 39.6875rem;
        background: #0f0;
        margin-bottom: 1.875rem;
        background-size: cover !important;

        &:last-child {
          margin-bottom: 0;
        }
        @include responsive("mobile") {
          width: 100%;
          height: 15.625rem;
        }
      }
    }
  }
}
